<h1><%= @job.title %></h1>
<p><strong>Type:</strong> <%= @job.job_type %></p>
<p><strong>Description:</strong> <%= @job.description %></p>
<p><strong>Deadline:</strong> <%= @job.application_deadline %></p>

<% if @job.circular.attached? %>
  <p><strong>Job Circular:</strong> <%= link_to "Download", rails_blob_path(@job.circular, disposition: "attachment") %></p>
<% end %>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
